{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }} - Home
{% endblock %}

{% block body -%}

      <div class="jumbotron">
        <h1>Symfony 2 Application</h1>
        <p>This is a application for support formation to learning Symfony 2</p>
      </div>

{% endblock %}
